Repository sadnessOjisan/HelloWorldEnterpriseEdition: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

add react component (#5)
  .eslintignore
  .github/workflows/stg.yml
  README.md
  babel.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/index.html
  src/index.ts
  src/index.tsx
  src/style.css
  tsconfig.json
  webpack.common.js
Due: eslint --cache --fix, prettier --write

deploy: 6566cde06d9716d0a53dd5f67b12c2a82e726828
  .gitkeep
  .nojekyll
  build.js
  index.html
Due: eslint --cache --fix, prettier --write

production deploy to firebase (#6)
  .env.sample
  .firebaserc
  .github/workflows/prd.yml
  README.md
  firebase.json
  package-lock.json
  package.json
  src/index.tsx
  src/module.d.ts
  webpack.common.js
Due: eslint --cache --fix, prettier --write

impl devserver (#7)
  .eslintignore
  .github/workflows/prd.yml
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
  webpack.common.js
  webpack.dev.js
Due: eslint --cache --fix, prettier --write

deploy: b1ab364dd21195f9ca38f0afdaac6436d7822f4e
  build.js
Due: eslint --cache --fix, prettier --write

use storybook (#8)
  .eslintignore
  .eslintrc.js
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  src/__stories__/App.tsx
Due: eslint --cache --fix, prettier --write

deploy: 252e2e6524aee13759e8011b0cafe90e6ca99e6b
  build.js
Due: eslint --cache --fix, prettier --write

styling component (#9)
  .github/workflows/prd.yml
  README.md
  src/index.tsx
Due: prettier --write

fix: firebase deploy yml
  .github/workflows/prd.yml
Due: none

deploy: 646a601cca325e0811764b106229ba020cee5096
  .gitkeep
  build.js
  clover.xml
  coverage-final.json
  index.html
  lcov-report/App.tsx.html
  lcov-report/base.css
  lcov-report/block-navigation.js
  lcov-report/favicon.png
  lcov-report/index.html
  lcov-report/prettify.css
  lcov-report/prettify.js
  lcov-report/sort-arrow-sprite.png
  lcov-report/sorter.js
  lcov.info
Due: eslint --cache --fix, prettier --write

add jest (#10)
  .eslintignore
  .github/workflows/dev.yml
  .github/workflows/prd.yml
  .github/workflows/stg.yml
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/App.tsx
Due: eslint --cache --fix, prettier --write

deploy: 90b7e70f0af8a9c58ee834a10364f508ac2c18ee
  clover.xml
  lcov-report/App.tsx.html
  lcov-report/index.html
Due: none

deploy: ee2fe1ca992069058f3e8e806ed194976711e491
  clover.xml
  lcov-report/App.tsx.html
  lcov-report/index.html
Due: none

deploy: f4e258f6da0b566249bef66d6db9feff1404943b
  clover.xml
  lcov-report/App.tsx.html
  lcov-report/index.html
Due: none

add saas setting file (#11)
  .browserslistrc
  .gitignore
  .npmrc
  .nvmrc
  README.md
  _headers
  netlify.toml
  src/index.tsx
  storybook-static/.gitkeep
  vercel.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

fix: readme
  README.md
Due: prettier --write

fix: html
  .github/workflows/stg.yml
Due: none

deploy: 3d50e1b51989a8f065b2513ee28a7f9f97495fd9
  App.tsx.html
  base.css
  block-navigation.js
  clover.xml
  coverage-final.json
  favicon.png
  index.html
  lcov.info
  prettify.css
  prettify.js
  sort-arrow-sprite.png
  sorter.js
Due: eslint --cache --fix, prettier --write

deploy: 0a8a3b9f2ed81bb0dee20d356f4678395f8bb12a
  App.tsx.html
  index.html
Due: none

add gh template (#13)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: prettier --write

deploy: 685e1e83a8dd06f0262dafe1f15366a9379bd535
  App.tsx.html
  index.html
Due: none

add git config (#14)
  .gitattributes
  .gitconfig
  .gitmessage
Due: none

chore: add pr template
  PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: .gitattribute
  .gitattributes
  CODE_OF_CONDUCT.md
  PULL_REQUEST_TEMPLATE.md
Due: prettier --write

remove: gitconfig
  .gitconfig
Due: none

remove: git message
  .gitmessage
Due: none

fix: md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Due: prettier --write

deploy: bf6cf493c446610a9571756c466460b0cb288fb4
  App.tsx.html
  index.html
Due: none

fix: tsc
  tsconfig.json
Due: prettier --write

fix: use plugin
  babel.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

chore: compile plugin
  babel.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

chore: tsx
  babel.config.js
Due: eslint --cache --fix, prettier --write

chore: del unused plugin
  babel.config.js
Due: eslint --cache --fix, prettier --write

deploy: 562cc9ee16ea0e9366c094e61df6df5dc534e6f6
  App.tsx.html
  index.html
Due: none

improve .github template (#15)
  .gitattributes
  .gitconfig
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitmessage
  .prettierignore
  CODE_OF_CONDUCT.md
  PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
