Repository sadnessOjisan/HelloWorldEnterpriseEdition: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

use babel plugin (#16)
  babel.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

chore: delete unused plugins
  package.json
Due: prettier --write

fix: workflow target
  .github/workflows/stg.yml
Due: none

deploy: 2dadc0c973be9528fdbc4b0caeb8b98b5e2ed9e5
  App.tsx.html
  index.html
Due: none

fix: workflow
  .github/workflows/dev.yml
Due: none

chore: delete unused plugins (#17)
  .github/workflows/dev.yml
  .github/workflows/stg.yml
  package.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

deploy: d1ec5bce88c10f4c39d7a110b58ed96019b00422
  App.tsx.html
  index.html
Due: none

fix: branches
  .github/workflows/dev.yml
Due: none

fix workflow (#18)
  .github/workflows/dev.yml
  README.md
Due: prettier --write

deploy: f3bb9829726fd6e93cce73b8d0761c3b2df6d64d
  App.tsx.html
  index.html
Due: none

chore: update packages
  README.md
Due: prettier --write

fix workflow to use push (#19)
  .github/workflows/dev.yml
  README.md
Due: prettier --write

deploy: c61c8c6a2262124fd3afbc6aa437215d5bd00d3a
  App.tsx.html
  index.html
Due: none

fix: issue template
  .github/ISSUE_TEMPLATE.md
  ISSUE_TEMPLATE.md
Due: prettier --write

deploy: c569de5cce7a104cbea77b784d316a47c1c2c1fc
  App.tsx.html
  index.html
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
